{% extends 'cadastro_edital/base.html' %}


{% block body %}

     <form class="form-signin" role="form" method="post">

                        {% csrf_token %}


                        <h2 class="form-signin-heading">Vagas</h2>


                        Curso
                        <input type="text" id="id_curso" name="curso" class="form-control"
                            placeholder="EX: Técnico Subsequente em Informática para Internet" required ><br>

                        Vaga
                        <input type="text" id="id_vaga" name="vaga" class="form-control"
                            placeholder="EX: Professor Formador de Banco de daddos" required ><br>

                        Número de vagas:
                        <input type="number" id="id_numero_vagas" name="numero_vagas" class="form-control" required ><br>



                        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                            Salvar
                        </button>


                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    &times;
                                </button>
                                {{form.non_field_errors}}
                            </div>
                        {% endif %}


                    </form>

{% endblock %}